Repository VictorAvelar/mollie-cli, pull requests merged in 2020-10, with the labels that each got.

#4 Fix Token flag setting
  .gitignore
  .mollie.yaml
  commands/mollie.go
Labels: bug, hacktoberfest-accepted

#5 Fixes for seen and known issues
  .mollie.yaml
  cmd/mollie/main.go
  commands/displayers/profile.go
  commands/mollie.go
  commands/profiles.go
  internal/command/command.go
  internal/config/configuration.go
  pkg/utils/browse.go
Labels: enhancement, hacktoberfest-accepted

#6 methods resource implementation
  commands/args.go
  commands/displayers/methods.go
  commands/methods.go
  commands/mollie.go
  go.mod
  go.sum
  internal/command/command.go
Labels: enhancement

#9 Improve logging integration
  commands/browse.go
  commands/methods.go
  commands/mollie.go
  commands/profiles.go
Labels: enhancement

#10 Feature/add payments command tree
  .goreleaser.yml
  commands/args.go
  commands/displayers/payments.go
  commands/mollie.go
  commands/payments.go
Labels: enhancement, hacktoberfest-accepted
